extends layout

block content
  header
    h1.logo #{title}
      nav
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Contact
  main
      article
        h2 Welcome to My Beautiful Website
        button.button(onClick = 'Helloworld()') HEJSA 
        p cyka blyat
        button.button2(onClick = 'Helloworld()') HEJSA 
      article
        h2 Our Team
        button.button3(onClick = 'Helloworld()') HEJSA 
        p cyka blyat
  footer
      p © 2023 My Beautiful Website. All rights reserved.