extends layout

block content
  main
      article
        h2 Welcome to cyka blyat
        p cyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyat
        
        div.container
          textarea.input(id="input-text" placeholder="Input Your EHR here...")
        
        button.button(onClick = 'Helloworld()') HEJSA 
        p cyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyat
        
        div.container
          button.button2(onclick="outputText()") Translate
          div.output(id="output-area")
        
        button.button2(onClick = 'Helloworld()') HEJSA 
        
      article
        h2 Star reviews
        p How many stars would you like to give our service? (you can only give 5)
        button(class = 'button3' id = 'button3' onClick = 'Helloworld()') Give 5 stars 
        
  footer
      p © 2023 cyka blyat. All rights reserved.
 
      