extends layout

block content
  header
    h1.logo Welcome to #{title}
      nav
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Contact
  main
      article
        h2 Welcome to My Beautiful Website
        p cyka blyat
      article
        h2 Our Team
        p cyka blyat
  footer
      p © 2023 My Beautiful Website. All rights reserved.