extends layout

block content
  main
      article
        h2 Welcome to cyka blyat
        p cyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyat
        div.container
          textarea.input(id="input-text" placeholder="Input Your EHR here...")
        button.button(onClick = 'Helloworld()') HEJSA 
        p cyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyat
        div.container
          button.button2(onclick="outputText()") Translate
          div.output(id="output-area")
        button.button2(onClick = 'Helloworld()') HEJSA 
      article
        h2 Our Team
        p cyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyat
        button.button3(onClick = 'Helloworld()') HEJSA 
        
  footer
      p © 2023 cyka blyat. All rights reserved.
 
      