extends layout

block content
  main
      article
        h2 Welcome to cyka blyat
        p cyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyat
        <label for="YourEhr">Your Electronic Health Record:</label>
        <input type="text" id="YourEhr" name="YourEhr"><br><br>
        button.button(onClick = 'Helloworld()') HEJSA 
        p cyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyat
        <label for="TransEhr">Translated Electronic Health Record:</label>
        <input type="text" id="TransEhr" name="TransEhr"><br><br>
        button.button2(onClick = 'Helloworld()') HEJSA 
      article
        h2 Our Team
        p cyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyatcyka blyat
        button.button3(onClick = 'Helloworld()') HEJSA 
        
  footer
      p © 2023 cyka blyat. All rights reserved.
 
      